.MuiTooltip-tooltip {
    font-size: medium;
}

.rw-patrol {
    height: 100vh;
    background-color: var(--rw-background-default);
}

.rw-patrol .rw-popup-editorinfo-editcount {
    text-transform: uppercase;
}

.rw-patrol .rw-patrol-header {
    position: relative;
    height: 64px;
    z-index: 400;
}

.rw-patrol .rw-patrol-header img {
    height: 40px;
    width: auto;

    margin: 8px;
}

.rw-patrol .rw-patrol-header .rw-patrol-header-toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rw-patrol .rw-patrol-header .rw-patrol-header-toolbar > * {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 8px;
}

.rw-patrol .rw-patrol-header .rw-patrol-header-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.rw-patrol .rw-patrol-header .rw-patrol-pageinfo {
    text-align: right;
    margin-right: 8px;
}

.rw-patrol-pageinfo > * {
    line-height: 1.1;
}

.rw-patrol .rw-patrol-body {
    width: 100%;
    height: calc(100% - 64px /* Toolbar height. */);
    display: flex;
}

.rw-patrol .rw-patrol-body > * {
    overflow: auto;
}