.rw-patrol .rw-patrol-review {
    flex: 1;
    width: 100%;

    display: flex;
    background-color: var(--rw-background-default);
}

.rw-patrol .rw-patrol-review .rw-patrol-review-pageinfo {
    flex: initial;
    max-width: 0;
    width: 100%;

    transition: max-width var(--rw-transition-duration-standard) var(--rw-transition-easing-easeInOut);
}

.rw-patrol .rw-patrol-review .rw-patrol-review-pageinfo.open {
    max-width: 35%;
}

.rw-patrol .rw-patrol-review-rev {
    flex: 1;
    width: 100%;
    padding: 16px;

    box-sizing: border-box;
    overflow: auto;

    text-align: center;
}

.rw-patrol .rw-patrol-review-rev-editinfo span {
    margin: 0 2px;
}

.rw-patrol .rw-patrol-review-rev-editsummary {
    font-style: italic;
}