@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/*
=================================================================
                              BODY
=================================================================
*/

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;

    /*background-color: #101010;*/
    /*color: white;*/
}

/*
=================================================================
                            NOSCRIPT
=================================================================
*/

/* There's only one NoScript at the top of every page, anyway. */
noscript {
    display: block;

    position: fixed;
    top: 0;
    bottom: 0;

    height: 100vh;
    width: 100vw;

    z-index: 1000;

    background-color: white;
    color: black;
}

noscript div {
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

noscript div img {
    height: 20vh;
    width: auto;
}